/*
 * Default Skin for the couch audio recorder
 *
 */

 .couchaudiorecorder {
     width: 90px;
}

 .couchaudiorecorder .mic-icon {
     width: 65px;
     height: 100px;
     margin-left: auto;
     margin-right: auto;
     background-image: url(noun_project_171_1.png);
     background-repeat: no-repeat;
}

.couchaudiorecorder .timer {
    font-family: monospace;
    font-size: 20px;
}

.couchaudiorecorder .status {
    font-family: helvetica;
    font-size: 9px;
    color: 999;
}